### POSTGRES ###

WEB_PORT=3000
DB_PORT=5432
DB_PASSWORD=postgres
DB_USER=postgres
DB_NAME=postgres
DB_HOST=172.17.0.1

### NEXTJS ###

PORT=3000
NEXT_PUBLIC_BASE_API_URL=http://localhost:3000/api

PASSWORD_SALTLEN=512
PASSWORD_KEYLEN=512
PASSWORD_ITERATIONS=10000
PASSWORD_DIGEST=sha512
PASSWORD_PEPPER=zeqskmghnezghyezugsfyéééeszfgyizesfghyuezsf536e1f5ef1v0eds1fv0e1f560esz1fv6e56sfv16eszfç!è§è
SECURITY_JWT_SECRET=ijrsgirijngerdgnrdengrdegop,erpbg,opdefrg,15145sdgvsd15gvdes15gvs1zerdgeszg